**/*.o
**/Makefile
!win32/msg/Makefile
atconfig
autom4te.cache
config.h
config.log
config.status
config_p.h
ed.defns.h
gethost
nls/*.cat
sh.err.h
tc.const.h
tc.defs.c
tcsh
tcsh-*.tar.gz
tests/package.m4
tests/testsuite
testsuite.dir/**
testsuite.log
*.suo
*~
.vs/
win32/tcsh.manifest
win32/nt.const.h
win32/BSDLOGO.res
terminfo.txt
tcsh.map
tcsh-x64.sln
win32/nt.const.h
